<h1>@Model.GetName()</h1>
<h2>Food: @Model.GetFood()</h2>
<h2>Attention: @Model.GetAttention()</h2>
<h2>Rest: @Model.GetRest()</h2>


<a href='/tamagotchi_list/new'>Add another Tamagotchi</a>
<a href='/tamagotchi_list'>View all Tamagotchis</a>
