<h1>Tamagotchi Pet List<h1>
  <ul>
    @foreach (var tamagotchis in Model)
    {
      <li><a href= '/tamagotchi_list/@tamagotchis.GetId()'>@tamagotchis.GetName()</a></li>
      <ul>
        <li>Food: @tamagotchis.GetFood()</a></li>
        <li>Attention: @tamagotchis.GetAttention()</a></li>
        <li>Rest: @tamagotchis.GetRest()</a></li>
      </ul>
    }
  </ul>

  <form action='/tamagotchi_list/time' method="post">
    <button type="submit" id="time-button">Time</button>
  </form>

  <a href = '/tamagotchi_list/new'> Add a new Tamagotchi Pet</a>
