<h1>Tamagotchi List</h1>
<h3>Add a new Tamagotchi Pet:</h3>
<form action='/tamagotchi_list' method="post">
  <label for="new-name">Name your pet:</label>
  <input type="text" name="new-name" id="new-name">
  <button type="submit">Add Tamagotchi</button>
</form>
